<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KabiMemo</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="css/index.css">
    <script>
        $(function(){
            // メモ一覧のリストをクリック
            $("div#list_memo li").click(function(){
                // liの内容（ファイル名）を取得
                let file = $(this).text();
                $.get("memo/"+file, function(data){
                    $("input[name=memoname]").val(file);    // ファイル名と
                    $("textarea[name=memotext]").val(data); // テキストデータをフォームに反映
                });
            });
        });
    </script>
</head>
<body>
    <div id="container">
        <header>
        <h1>KabiMemo</h1>
        </header>

        <form id="create-memo" action="/" method="post">
            <ul>
                <li>
                    <p class="caption">Title</p>
                    <input type="text" name="memoname" id="">
                </li>
                <li>
                    <p class="caption">Memo text</p>
                    <textarea name="memotext" id="" cols="30" rows="10"></textarea>
                </li>
                <li>
                    <button type="submit">SAVE</button>
                </li>
            </ul>
        </form>

        <div id="list_memo">
            List of memo
            <ul>
            <% list_memo.forEach(function(item){ %>
                <li><%= item %></li>
            <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>