<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KabiMemo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="container">
        <header>
        <h1>KabiMemo</h1>
        </header>

        <div id="create-memo">
            <ul>
                <li>
                    <p class="caption">Title</p>
                    <input v-model="memoname" type="text" name="memoname" id="">
                </li>
                <li>
                    <p class="caption">Memo text</p>
                    <textarea v-model="memotext" name="memotext" id="" cols="30" rows="10"></textarea>
                </li>
                <li>
                    <input v-on:click="save_memo" type="button" id="memo_create" value="SAVE">
                    <input v-on:click="delete_memo" type="button" id="memo_delete" value="DELETE">
                </li>
            </ul>
        </div>

        <div id="list_memo">
            List of memo
            <ul>
            <% list_memo.forEach(function(item){ %>
                <li v-on:click="load_memo('<%= item %>')"><%= item %></li>
            <% }); %>
            </ul>
        </div>
    </div>
</body>
<script>
// メモ書き込んだり削除したりするやつ
let create_memo = new Vue({
    el: "#create-memo",
    data : {    // フォームの初期値
        memoname : "",
        memotext : "",
    },
    methods : {
        save_memo : function(){
            axios.post("/", {"memoname": this.memoname, "memotext" : this.memotext}).then(function(response){
                // 書き込めたら再読込してリスト更新
                location.reload();
            });
        },
        delete_memo : function(){
            axios.post("/", {"isdelete": this.memoname}).then(function(response){
                // 削除できたら再読込してリスト更新
                location.reload();
            });
        }
    }
});

// メモ読み込むやつ
let list_item = new Vue({
    el: '#list_memo',
    methods : {
        load_memo : function(memoname){
            axios.get("memo/"+memoname).then(function(response){
                create_memo.memoname = memoname;
                create_memo.memotext = response.data;
            });
        }
    }
});
</script>
</html>